body{
    margin:0;
    max-height: 100vh;
}


.logo{

    width: 150px;
    height: 75px;
    margin-left: 30px;
}

.container{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.signup-inner{


  display: inline-flex;
  background-color: #3882f6;
  padding: 50px;
  gap: 50px;
  border-radius: 20px;

}

.signup-button{

display: flex;
border:2px solid #f9faf8;
border-radius: 10px;
height: 50px;
align-items: center;
margin-top: 15px;
}

.signup{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.textt{
display: flex;
flex-direction: column;
gap: 5px;
color: #f9faf8;
justify-content: center;
}

.footer{
display: flex;
justify-content: center;
align-items: center;
height: 70px;
background-color: #1f2937;
color: #f9faf8;
font-size: 14px;

}

.call, .signp{

  margin:0;
  padding: 0;


}

.call{

font-size: 22px;

}

.hh1{

font-size: 36px;
font-weight: 900;
color: #1f2937;
display: flex;
justify-content: center;


}

.random{
display: flex;
flex-direction: column;
padding: 50px;
gap: 20px;

}

.woof{

height: 150px;
width: 150px;
border: #3882f6 solid 5px;
border-radius: 15px;

}

.fullimages{

display: flex;
justify-content: center;
gap: 52px;

}

.imagess1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    max-width: 200px;
    align-items: center;
    gap: 10px;
    
  
  }
  .imagess2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    align-items: center;
    text-align: center;
    gap: 10px;
  
  }
  .imagess3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    align-items: center;
    text-align: center;
    gap: 10px;
  
  
  }
  .imagess4{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

  }

header{

display: flex;
flex-direction: row;
justify-content: space-between;
background-color: #1f2937;
margin: 0;
padding: 0;

}

.links{

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 40px;
}

ul{

list-style: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;

}

a{

text-decoration: none;
color: white;
font-size: 20px;
padding: 10px;

}
.awesome{


display: inline-flex;
background-color: #1f2937;
padding: 50px;



}

button{

width: 100px;
height: 50px;
border-radius: 10px;
border: 1px solid #3882f6;
background-color: #3882f6;
color: white;

}

.hh{

font-size: 24px;
color:#f9faf8;
margin:0;

}

.pp{

  
  color: #e5e7eb;
  font-size: 18px;

    
    }

.awesome1{


display: flex;
flex-direction: column;
gap: 10px;


}
.img{

    width: 500px;
    height: 250px;
}

.quote{

background-color: #e5e7eb;
padding: 40px;
height: 250px;

}

.quote2{
display: flex;
flex-direction: column;
width: 600px;
height: 250px;
justify-items: center;
margin-left: 300px;

}

.pp1{

color: #1f2937;
font-style: italic;
font-size: 25px;
font-weight: 0;

}

.author{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 16px;
}